.his{

  .icons{
    float: right;

    i{
      color: gray;
      margin-left: 20px;
    }
  }
  .mdui-card{
    margin-bottom: 50px;
  }
  .mdui-card-primary-title,.mdui-card-primary-subtitle{
    height: 100px;
    overflow:hidden; /*超出宽度部分的隐藏*/
    white-space:nowrap; /*文字不换行*/
    text-overflow:ellipsis; /*超出则...代替*/
    width: auto;
  }
  .mdui-card-primary-subtitle{
    height: 60px;
  }
  .mdui-card:first-child{
    margin-top: 150px;
  }
  .mdui-card:last-child{
    margin-bottom: 200px;
  }
  .mdui-card-header{
    padding: 16px 16px 0 16px;
    margin-bottom: 16px;
    height: 130px;
    img{
      width: 120px;
    }
    .mdui-card-header-subtitle{
      overflow: hidden;
    }
  }
}
.tab{
  width: 90%;
}
.ant-tabs-bar{
  position: fixed;
  z-index: 999;
  background: white;
  width: 92%;
  margin: 0 auto;
}