.my {
  .main {
    .top {
      background: no-repeat url("../../assets/images/avator.jpg");
      height: 600px;
      background-size: 100% 100%;
      position: relative;
      .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(150, 150, 150, 0.3);
        a {
          margin-top: 50px;
          float: right;
          color: gray;
          margin-right: 30px;
        }
        .avatar {
          margin-top: 250px;
          width: 200px;
          height: 200px;
          img {
            width: 200px;
            height: 200px;

          }
        }
        .nickname {
          width: 500px;
          margin-top: 40px;
          font-size: 40px;
          p{
            text-align: center;
            color: white;
          }
          .sex{
            display: inline-block;
            padding-bottom: 45px;
            width: 45px;
            height: 45px;
            background-color: #00acc1;
            font-size: 35px;
          }
        }
      }
    }

    .main-bottom{
      .list-p{
        display: inline-block;
        font-size: 40px;
        margin-left: 20px;
      }
      hr{
        text-align: center;
        margin: 0 0 0 4%;
        opacity: 0.2;
        width: 92%;
        color: gray;
      }
    }

  }
}